type: filestats

status:
  class: receiver
  stability:
    beta: [metrics]
  distributions: [contrib]
  codeowners:
    active: [atoulme]
    seeking_new: true


resource_attributes:
{% set res_attrs_grp = (ctx.groups | selectattr("id", "equalto", "resource.attributes") | list | first) %}
{% if res_attrs_grp and res_attrs_grp.attributes -%}
{% for attr in res_attrs_grp.attributes %}  {{ attr.name | safe }}:
    description: {{ attr.brief | default("", true) | safe }}
    enabled: {% if (attr.requirement_level | default("")) == "opt_in" %}false{% else %}true{% endif %}
    type: {{ attr.type | safe }}
{% endfor -%}
{% else -%}
  {}
{% endif %}

attributes:
{% set metric_attrs_grp = (ctx.groups | selectattr("id", "equalto", "metric.attributes") | list | first) %}
{% if metric_attrs_grp and metric_attrs_grp.attributes -%}
{% for attr in metric_attrs_grp.attributes %}  {{ attr.name | safe }}:
    description: {{ attr.brief | default("", true) | safe }}
    type: {{ attr.type | safe }}
{% endfor -%}
{% else -%}
  {}
{% endif %}

metrics:
{%- for m in ctx.groups
      | selectattr("type", "equalto", "metric")
      if m.annotations is defined
         and m.annotations.scraper is defined
         and m.annotations.scraper.enabled is defined %}
  {{ m.id | safe }}:
    description: {{ m.brief | default("", true) | safe }}
    enabled: {{ (((m.annotations | default({})).scraper | default({})).enabled) | default(false) }}
    stability:
      level: {{ m.stability | default(development) }}
    {%- if m.instrument == "counter" %}
    sum:
      aggregation_temporality: cumulative
      monotonic: true
      value_type: {{ (((m.annotations | default({})).scraper | default({})).value_type) | default(int) }}
      {%- if ((((m.annotations | default({})).scraper | default({})).input_type) | default("")) == "string" %}
      input_type: string
      {%- endif %}
    {%- elif m.instrument == "updowncounter" %}
    sum:
      aggregation_temporality: cumulative
      monotonic: false
      value_type: {{ (((m.annotations | default({})).scraper | default({})).value_type) | default(int) }}
      {%- if ((((m.annotations | default({})).scraper | default({})).input_type) | default("")) == "string" %}
      input_type: string
      {%- endif %}
    {%- else %}
    gauge:
      value_type: {{ (((m.annotations | default({})).scraper | default({})).value_type) | default(int) }}
      {%- if ((((m.annotations | default({})).scraper | default({})).input_type) | default("")) == "string" %}
      input_type: string
      {%- endif %}
    {%- endif %}
    unit: {{ m.unit | default("", true) }}
{%- if m.attributes %}
    attributes:
{%- for attr in m.attributes %}
      - {{ attr.name | safe }}
{%- endfor %}
{%- endif %}
{%- endfor %}